# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
.cursor/

# 忽略notebooks中的视频文件
/notebooks/**/*.avi
# 忽略notebooks中的所有视频文件
/notebooks/**/*.mp4
/notebooks/**/*.mkv
# 忽略notebooks中的所有音频文件
/notebooks/**/*.mp3
/notebooks/**/*.wav
# 忽略docs/batch分析.md
/docs/batch分析.md

