tbsim==0.0.1
arrow==1.3.0
torchaudio==0.13.0
multidict==6.1.0
debugpy==1.8.9
debugpy==1.6.7
ipython==8.18.1
ipython==8.15.0
rfc3339-validator==0.1.4
pyzmq==25.1.2
pyzmq==26.2.0
json5==0.9.25
json5==0.10.0
mkl_random==1.2.8
h11==0.14.0
aiosignal==1.3.1
jupyter-console==6.6.3
tinycss2==1.2.1
tinycss2==1.4.0
joblib==1.4.2
notebook_shim==0.2.3
notebook_shim==0.2.4
PySocks==1.7.1
docker-pycreds==0.4.0
stack-data==0.2.0
stack-data==0.6.3
pytz==2024.1
pytz==2024.2
torchmetrics==1.6.0
certifi==2024.8.30
anyio==4.6.2
anyio==4.7.0
pexpect==4.8.0
pexpect==4.9.0
jsonschema-specifications==2023.7.1
jsonschema-specifications==2024.10.1
platformdirs==3.10.0
platformdirs==4.3.6
fastjsonschema==2.20.0
fastjsonschema==2.21.1
pluggy==1.5.0
isort==5.10.1
webencodings==0.5.1
webencodings==0.5.1
nvidia-nvjitlink-cu12==12.4.127
six==1.17.0
six==1.16.0
wandb==0.19.0
jupyter_server_terminals==0.4.4
jupyter_server_terminals==0.5.3
exceptiongroup==1.2.2
exceptiongroup==1.2.0
parso==0.8.3
parso==0.8.4
click==8.1.7
prompt-toolkit==3.0.43
prompt_toolkit==3.0.48
cachetools==5.5.0
trajdata==1.2.1
jupyterlab==4.3.2
jupyterlab==4.2.5
pyquaternion==0.9.9
pillow==11.0.0
psutil==6.1.0
psutil==5.9.0
terminado==0.17.1
terminado==0.18.1
nbclient==0.10.1
nbclient==0.8.0
comm==0.2.1
comm==0.2.2
referencing==0.35.1
referencing==0.30.2
pydantic==2.10.3
tqdm==4.62.0
charset-normalizer==3.3.2
httpcore==1.0.2
httpcore==1.0.7
pyparsing==3.2.0
ipywidgets==8.1.5
nvidia-cudnn-cu12==9.1.0.70
rpds-py==0.22.3
rpds-py==0.10.6
idna==3.10
idna==3.7
pytest-forked==1.6.0
fqdn==1.5.1
pycparser==2.21
pycparser==2.22
jupyterlab_widgets==3.0.13
wheel==0.44.0
jupyterlab-pygments==0.1.2
jupyterlab_pygments==0.3.0
tornado==6.4.1
tornado==6.4.2
threadpoolctl==3.5.0
sniffio==1.3.1
sniffio==1.3.0
nvidia-cufft-cu12==11.2.1.3
jupyter_client==8.6.0
jupyter_client==8.6.3
Send2Trash==1.8.2
Send2Trash==1.8.3
jsonschema==4.23.0
pytest-xdist==2.5.0
Cython==3.0.11
typing_extensions==4.12.2
typing_extensions==4.11.0
jupyter-lsp==2.2.5
jupyter-lsp==2.2.0
torchvision==0.14.0
imageio==2.36.1
nvidia-cusolver-cu12==11.6.1.9
asttokens==3.0.0
asttokens==2.0.5
matplotlib-inline==0.1.6
matplotlib-inline==0.1.7
nvidia-cublas-cu12==12.4.5.8
pymap3d==3.1.0
black==22.1.0
py==1.11.0
Jinja2==3.1.4
nvidia-cusparse-cu12==12.3.1.170
mypy-extensions==1.0.0
numpy==1.24.3
numpy==2.0.2
mpmath==1.3.0
executing==0.8.3
executing==2.1.0
Brotli==1.0.9
fonttools==4.55.2
argon2-cffi==23.1.0
argon2-cffi==21.3.0
jedi==0.19.1
jedi==0.19.2
python-dateutil==2.9.0.post0
ipykernel==6.29.5
MarkupSafe==3.0.2
MarkupSafe==2.1.3
jupyterlab_server==2.27.3
types-python-dateutil==2.9.0.20241003
eval_type_backport==0.2.0
pandocfilters==1.5.0
pandocfilters==1.5.1
transforms3d==0.4.2
jupyter-events==0.10.0
notebook==7.3.1
notebook==7.2.2
pure-eval==0.2.2
pure_eval==0.2.3
pytest==7.1.1
descartes==1.1.0
traitlets==5.14.3
l5kit==1.5.0
requests==2.32.3
gitdb==4.0.11
bleach==6.2.0
soupsieve==2.6
soupsieve==2.5
pathspec==0.12.1
dill==0.3.4
cffi==1.17.1
decorator==5.1.1
propcache==0.2.1
uri-template==1.3.0
jupyter_core==5.7.2
frozenlist==1.5.0
backcall==0.2.0
torch==2.5.1
torch==1.13.0
pyemd==1.0.0
wcwidth==0.2.5
wcwidth==0.2.13
smmap==5.0.1
kiwisolver==1.4.7
filelock==3.16.1
babel==2.16.0
Babel==2.11.0
mkl_fft==1.3.11
nvidia-cuda-cupti-cu12==12.4.127
aiohttp==3.11.9
pytorch-lightning==2.1.0
setuptools==75.1.0
overrides==7.4.0
overrides==7.7.0
lightning-utilities==0.11.9
defusedxml==0.7.1
Pygments==2.18.0
Pygments==2.15.1
einops==0.8.0
shapely==2.0.6
rfc3986-validator==0.1.1
scipy==1.13.1
fire==0.7.0
PyYAML==6.0.2
pydantic_core==2.27.1
opencv-python==4.10.0.84
prometheus_client==0.21.1
prometheus_client==0.21.0
widgetsnbextension==4.0.13
pycocotools==2.0.8
triton==3.1.0
aiohappyeyeballs==2.4.4
jupyter==1.1.1
attrs==24.2.0
packaging==24.1
packaging==24.2
iniconfig==2.0.0
ptyprocess==0.7.0
jupyter_server==2.14.1
jupyter_server==2.14.2
urllib3==2.2.3
GitPython==3.1.43
jsonpointer==3.0.0
httpx==0.28.0
httpx==0.27.0
async-timeout==5.0.1
sympy==1.13.1
setuptools-scm==8.1.0
nvidia-nccl-cu12==2.21.5
argon2-cffi-bindings==21.2.0
async-lru==2.0.4
mistune==3.0.2
mistune==2.0.4
nbformat==5.10.4
tomli==2.2.1
tomli==2.0.1
nest-asyncio==1.6.0
beautifulsoup4==4.12.3
zipp==3.21.0
asciitree==0.3.3
isoduration==20.11.0
matplotlib==3.5.0
pandas==1.4.1
nuscenes-devkit==1.1.9
nvidia-cuda-nvrtc-cu12==12.4.127
termcolor==2.5.0
python-json-logger==2.0.7
numcodecs==0.12.1
zarr==2.11.0
protobuf==3.20.3
execnet==2.1.1
importlib_metadata==8.5.0
setproctitle==1.3.4
mkl-service==2.4.0
nvidia-cuda-runtime-cu12==12.4.127
fsspec==2024.10.0
pyarrow==7.0.0
webcolors==24.11.1
websocket-client==1.8.0
fasteners==0.19
nvidia-nvtx-cu12==12.4.127
networkx==3.2.1
nbconvert==7.16.4
sentry-sdk==2.19.1
yarl==1.18.3
seaborn==0.13.2
scikit-learn==1.5.2
cycler==0.12.1
pip==24.2
pickleshare==0.7.5
nvidia-curand-cu12==10.3.5.147
kornia==0.6.4
prettytable==3.5.0
annotated-types==0.7.0
trajdata==1.2.1
Pplan==0.0.1
jaraco.collections==5.1.0
typeguard==4.3.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
inflect==7.3.1
typing_extensions==4.12.2
wheel==0.43.0
platformdirs==4.2.2
backports.tarfile==1.2.0
autocommand==2.2.2
jaraco.text==3.12.1
packaging==24.1
more-itertools==10.3.0
zipp==3.19.2
tomli==2.0.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
